Options -Indexes

DirectoryIndex /404.php
ErrorDocument 403 /404.php
ErrorDocument 404 /404.php

RewriteEngine on
RewriteCond %{REQUEST_URI} ^(\/js\/page\.main\.js)$ [OR]
RewriteCond %{REQUEST_URI} ^(\/js\/page\.map\.js)$ [OR]
RewriteCond %{REQUEST_URI} ^(\/js\/page\.about\.js)$ [OR]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ js.php [L]
