/*
 * Layout definitions
 */

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: arial,sans-serif;
  font-size: 13px;
  /*overflow: hidden;*/
}

table {
  border-spacing: 0;
}

#toppan {
  background: #efefef;
  height: 90px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.fs #toppan { top: -90px; }

#content {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 90px;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.fs #content { top: 9px; }

#leftpan {
  bottom: 0;
  border-top: 1px solid #ddd;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 330px;
  z-index: 3;
}

.left-on #leftpan {
  width: 0;
}

#leftpan div.close {
    background-image: url("/img/leftpan_close.png");
    height: 16px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 16px;
    z-index: 1;
    cursor: pointer;
}
#leftpan div.header h1 {
    font-weight: normal;
    left: 15px;
    position: absolute;
    top: 15px;
}

#leftpan.leftSearch div#leftpersmappan {
  display: none;
}

#leftpan.leftPersmap div#leftsearchpan {
  display: none;
}

#leftpan div.persmappressed {
  background-color: #AAFFAA;
}

.contentpan {
  bottom: 0;
  left: 0;
  position: absolute;
  top: 55px;
  right: 10px;
  padding: 10px 15px 15px;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  overflow: auto;
}

.contentpan ol {
  /*margin-left: 20px;*/
}

.contentpan ul {
  /*margin-left: 20px;*/
  list-style: none;
}

.contentpan li {
  margin-bottom: 14px;
}

#toggler {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 8px;
  background: url("../img/arrow.gif") no-repeat 0 center;
  cursor: pointer;
  border-right: 1px solid #CCCCCC;
}

.left-on #toggler {
  background: url("../img/arrow.gif") no-repeat -9px center;
}

#mappan {
  top: 0;
  bottom: 0;
  left: 330px;
  right: 0;
  position: absolute;
/*  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;*/
}

.left-on #mappan {
  left: 0;
}

.map-feature-button {
  background: #99BD1B;
  color: #ffffff;
  cursor: pointer;
  height: 20px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 50px;
  z-index: 5;
}

#fsbutton {
  right: 20px;
}

#markerbutton {
  right: 90px;
}

#multimarkerbutton {
  right: 160px;
}

#pathbutton {
	right: 230px;
}

#map {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.hshadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  z-index: 2;
}
.hshadow div {
  background-color: #000;
  opacity: 0.05;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.h1 { height: 1px; }
.h2 { height: 2px; }
.h3 { height: 3px; }
.h4 { height: 4px; }
.h5 { height: 5px; }
.vshadow {
  display: none;
}
.left-on .vshadow {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 5px;
  z-index: 2;
}
.vshadow div {
  background-color: #000;
  opacity: 0.05;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
.w1 { width: 1px; }
.w2 { width: 2px; }
.w3 { width: 3px; }
.w4 { width: 4px; }
.w5 { width: 5px; }

/*
 * Style definitions
 */

input[type="submit"], button {
  background: #eeeeee;
  background: -moz-linear-gradient(top, #eeeeee 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #eeeeee 0%,#dddddd 100%);
  background: -o-linear-gradient(top, #eeeeee 0%,#dddddd 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%,#dddddd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0 );
  background: linear-gradient(top, #eeeeee 0%,#dddddd 100%);
  border-color: #DDDDDD #CCCCCC #AAAAAA;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 -1px 1px #FAFAFA inset;
  color: #222222;
  text-shadow: 0 1px 1px #FFFFFF;
  cursor: pointer;
}

input[type="submit"]:hover, button:hover {
  background: #eaeaea;
  background: -moz-linear-gradient(top, #eaeaea 0%, #d9d9d9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(100%,#d9d9d9));
  background: -webkit-linear-gradient(top, #eaeaea 0%,#d9d9d9 100%);
  background: -o-linear-gradient(top, #eaeaea 0%,#d9d9d9 100%);
  background: -ms-linear-gradient(top, #eaeaea 0%,#d9d9d9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#d9d9d9',GradientType=0 );
  background: linear-gradient(top, #eaeaea 0%,#d9d9d9 100%);
}

input[type="submit"]:active, button:active {
  background: #dadada;
  box-shadow: 0 -1px 1px #FAFAFA inset, 0 2px 1px #BBBBBB inset;
  padding-top: 1px;
}

#colorline {
  height: 4px;
  position: absolute;
  top: 86px;
  width: 100%;
}

#logo {
  left: 22px;
  top: 30px;
  position: absolute;
/*  background: url("/img/logo.png") no-repeat;*/
  width: 288px;
  height: 49px;
  z-index: 1;
  border: medium none;
}

#line {
  border-top: 1px solid lightgray;
  height: 0;
  left: 110px;
  position: absolute;
  right: 0;
  top: 62px;
}

#header {
  -moz-user-select: none;
  cursor: default;
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #444444;
  left: 110px;
  position: absolute;
  top: 42px;
  text-shadow: 1px 1px 2px #DADADA, 0 0 15px #DDDDDD;
}

#topbar {
  top: 44px;
  left: 0;
  right: 0;
  position: absolute;
  padding: 0 25px 0 325px;
}

#searchpan {
  border-color: #AAAAAA #CCCCCC #DDDDDD;
  border-style: solid;
  border-width: 1px;
  position: relative;
  width: 100%;
  max-width: 700px;
  min-width: 300px;
}

#searchpan table {
  border-collapse: collapse;
  border: 0;
}

#searchpan input[type="search"] {
  border: 0;
  height: 28px;
  padding-left: 5px;
  outline: 0 none;
  width: 100%;
}

#searchpan input[type="submit"] {
  box-shadow: none;
  border-color: #FAFAFA #CCCCCC #CCCCCC;
  border-width: 1px 0 1px 1px;
  border-radius: 0;
  height: 28px;
  min-width: 80px;
  vertical-align: top;
}

a.wheremi div.wheremi {
  background-image: url("/img/wheremi.png");
  height: 28px;
  width: 30px;
}
a.wheremi, a.wheremi:hover, a.wheremi:active {
  outline: none;
}

a.wheremi:hover div.wheremi {
  background-image: url("/img/wheremi-hover.png");
  height: 28px;
  width: 30px;
}

#menupan {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: #aaa;
  font-size: 10pt;
  font-family: Tahoma,sans-serif;
  left: 0;
  right: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4;
}

#menupan #menuback {
  background: #333333;
  height: 30px;
  width: 100%;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.fs #menupan #menuback {
  height: 9px;
}

#menupan table {
  margin: 0 22px;
  /*min-width: 980px;*/
  position: absolute;
  top: 0;
}

#menupan table div {
  border-bottom: 3px solid #333333;
  cursor: pointer;
  height: 22px;
  width: 140px;
  text-align: center;
  overflow: hidden;
}

.fs #menupan table div {
  border-bottom: 0 none;
  height: 4px;
}

.fs #menupan table div:hover {
  height: 22px;
}

#menupan a {
  color: #aaaaaa;
  text-decoration: none;
}

#menupan a:hover, #menupan a:active {
  color: #ffffff;
  outline: none;
}

#menupan td {
  vertical-align: top;
}

#menupan td:nth-child(1) div { border-top: 5px solid #99bd1b; }
#menupan td:nth-child(2) div { border-top: 5px solid #f9ba1c; }
#menupan td:nth-child(3) div { border-top: 5px solid #fad051; }
#menupan td:nth-child(4) div { border-top: 5px solid #c3102e; }
#menupan td:nth-child(5) div { border-top: 5px solid #db4c39; }
#menupan td:nth-child(6) div { border-top: 5px solid #faaa87; }
#menupan td:nth-child(7) div { border-top: 5px solid #4a8af5; }
#menupan td:nth-child(1) div:hover, #menupan td:nth-child(1) div.current { background: #99bd1b; }
#menupan td:nth-child(2) div:hover, #menupan td:nth-child(2) div.current { background: #f9ba1c; }
#menupan td:nth-child(3) div:hover, #menupan td:nth-child(3) div.current { background: #fad051; }
#menupan td:nth-child(4) div:hover, #menupan td:nth-child(4) div.current { background: #c3102e; }
#menupan td:nth-child(5) div:hover, #menupan td:nth-child(5) div.current { background: #db4c39; }
#menupan td:nth-child(6) div:hover, #menupan td:nth-child(6) div.current { background: #faaa87; }
#menupan td:nth-child(7) div:hover, #menupan td:nth-child(7) div.current { background: #4a8af5; }


#loginpan {
  color: #aaa;
  font-size: 12px;
  left: 110px;
  position: absolute;
  top: 70px;
}

#loginpan ul {
  list-style: none;
}

#loginpan li {
  display: inline;
}

#loginpan a {
  color: #00aa00;
}

#loginpan a:hover {
  color: #ff2222;
}

.current {
  color: #ffffff;
}

.pseudolink {
  color: #3399DD;
  cursor: pointer;
  text-decoration: none;
}

.pseudolink:hover {
  text-decoration: underline;
}

#ol-search_result a {
  color: #7E9B17;
  text-decoration: none;
  font-size: 15px;
}

/*
 * Map controls
 */
#cpan {
  width: 87px;
  height: 87px;
  position: absolute;
  /*left: 10px;
  top: 10px;*/
  z-index: 3;
}
#cpan #cpanglo {
  width: 31px;
  height: 31px;
  left: 28px;
  top: 28px;
  position: absolute;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
#cpan:hover #cpanglo {
  width: 87px;
  height: 87px;
  left: 0;
  top: 0;
  position: absolute;
}
#cpanjoy {
  width: 13px;
  height: 13px;
  left: 37px;
  top: 37px;
  position: absolute;
}
#cpan #cpanarr {
  width: 48px;
  height: 48px;
  left: 19px;
  top: 19px;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.1s linear 0.1s;
  -moz-transition: all 0.1s linear 0.1s;
  -o-transition: all 0.1s linear 0.1s;
  transition: all 0.1s linear 0.1s;
}
#cpan:hover #cpanarr {
  width: 48px;
  height: 48px;
  left: 19px;
  top: 19px;
  position: absolute;
  opacity: 1;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.opanull {
  opacity: 0 !important;
}
#cpan #cpanact {
  width: 87px;
  height: 87px;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 3;
}
/* tools */
#tools {
  position: absolute;
  right: 10px;
  top: 80px;
	z-index: 8;
}
#tools div, .leaflet-control-layers a, .leaflet-control-layers-expanded .leaflet-control-layers-list {
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-moz-box-shadow: 0 0 7px #999;
	-webkit-box-shadow: 0 0 7px #999;
	box-shadow: 0 0 7px #999;
	background: #f8f8f9;
}
#tools div.a, .leaflet-control-layers a {
	float: right;
	width: 36px;
}
#tools div.a a {
  background-image: url("../img/tools.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
  height: 36px;
  outline: none;
}
#tools div.a a:hover, #tools div.a a:active {
  outline: none;
}
#tools div.p {
	display: none;
}
#tools div.p a {
  color: #0078A8;
}
#tools div.p p {
  margin-bottom: 0.7em;
}
#tools.on div.p, .leaflet-control-layers-expanded .leaflet-control-layers-list {
	display: block;
	padding: 16px 40px 6px 10px;
	margin-right: 36px;
}

div.leaflet-control-layers {
  background: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
	box-shadow: none;
  padding: 0;
}
div.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display: block;
}


/*
 * Toolbar
 */

.rightalign {
  float: right;
}
.toolbar button {
  box-shadow: 0 -1px 1px #FAFAFA inset, 0 0 1px #FFFFFF;
  height: 28px;
  width: 32px;
  margin-top: 4px;
  vertical-align: top;
}

/*
 * Overriding leaflet style
 */
.leaflet-control-attribution {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
  background-color: inherit !important
}
.leaflet-control-container .leaflet-control-layers.leaflet-control {
  margin-top: 30px;
}
.leaflet-control-container .permalink {
  top: 1.5em;
  z-index: 8;
}

/*
 for page about
*/
div.page-about, div.top-about {
  position: relative;
  top: 20px;
  font-family: Tahoma,sans-serif;
  font-size: 12pt;
}
div.page-about .left {
  max-width: 200px;
  left: 60px;
  position: absolute;
  top: 20px;
}
div.page-about .center {
  max-width: 571px;
  left: 350px;
  position: absolute;
  top: 15px;
}
div.page-about p {
  padding-bottom: 1em;
}
div.top-about {
  color: #F9BA1C;
  padding-left: 20px;
}
div.top-about a {
  color: #F9BA1C;
}
div.page-about .left .link-menu {
  padding-left: 10px;
  padding-top: 20px;
}
div.page-about .left .link-menu p {
  color: #4A8AF5;
  font-size: 14pt;
}
div.page-about .left .link-menu ul li {
  list-style-type: none;
  margin-bottom: 0.7em;
}
div.page-about .left .link-menu ul li a {
  color: #99BD1B;
}
div.page-about .center .head {
  color: #4A8AF5;
  font-size: 14pt;
  padding-bottom: 0.5em;
}
div.page-about .center .text {
  font-size: 10pt;
  padding-bottom: 3em;
  text-align: justify;
}
div.page-about .center .asterisk{
  color: #4A8AF5;
  font-size: 12pt;
  font-weight: bold;
}
div.page-about .center .footnote{
  text-indent: -0.6em;
  font-size: 10pt;
  color: #666666;
}

/* personal map */

.colour-picker-button {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  text-align: center;
  vertical-align: top;
  padding: 0px;
  margin: 3px;
  line-height: 13px;
  color: white;
  float: left;
  cursor: pointer;
}
.colour-picker-button-blue {
  background: #2288dd;
}
.colour-picker-button-green {
  background: #22dd44;
  color: #000000;
}
.colour-picker-button-red {
  background: #F21D53;
}
.colour-picker-button-yellow {
  background: #F1E415;
  color: #000000;
}
.colour-picker-button-violet {
  background: #9B5BA0;
}
.colour-picker-button-orange {
  background: #E48530;
  color: #000000;
}
.default-input, .default-input-focused {
  font-size: 14px;
  font-family: sans-serif;
  width: 200px;
  border: 1px solid #999;
}
.default-input {
  font-style: italic;
  color: #999;
}
.default-input-focused {
  font-style: normal;
  color: #000;
}

textarea.default-input, textarea.default-input-focused {
  max-width: 200px;
  min-width: 200px;
  max-height: 100px;
  min-height: 100px;
  resize: none;
}
input.default-input, input.default-input-focused {
  font-size: 20px;
}

.leaflet-container a.button, a.button  {
	border: 1px solid transparent;
	background: white;
	top: 7px;
	border-radius: 5px;
	box-shadow:0 0 7px #777;
	padding: 5px;
	position: relative;
	text-align: center;
	text-decoration: none;
	color: #777;
}
.leaflet-container  a.button:active, a.button:active {
	color: #99BD1B;
	top: 10px;
	box-shadow: 0 0 7px #688014;
}

/*
for leaflet
*/
.leaflet-control-zoom a, .leaflet-control-zoom a:hover, .leaflet-control-zoom a:active {
  outline: none;
}
.leaflet-popup-content-wrapper {
  cursor: auto;
}
