/*Общий сброс*/

* {
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*Основные параметры*/
html,
body {
  width: 100%;
  height: 100%;
  font: 14px normal;
}

body,
input,
select,
textarea { font-family: Tahoma, Verdana, Segoe, sans-serif; }

input,
textarea,
form:active,
input:focus { outline: none; }

nav,
aside,
footer,
header,
section { display: block; }

table {
  border-collapse: collapse;
  border: 0;
  padding: 0;
}

input {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

img { border: none; }

/*Кнопки*/

.button {
  border: 1px solid white;
  font-size: 12pt;
  text-align: center;
  color: #fff;
  padding: 5px;
}

.button:hover {
  border: 1px solid #eee;
  outline: 4px solid #eee;
}

.button:active { border: 1px solid white; }


/*Поля*/

.field {
  border: 1px solid #999;
  font-size: 16pt;
  line-height: 24px;
  color: #000;
}

.field:hover {
  border: 1px solid #999;
  outline: 4px solid #eee;
}

.field:focus {
  border: 1px solid #999;
  outline: 4px solid #eee;
}

input[type=checkbox].toggle { display: none; }

/*Резерв под меню*/

header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 90px;
  box-shadow: rgba(138, 138, 138, 0.42) 0 9px 6px -4px;
  transition: 400ms;
  z-index: 1;
}

article[role=main] {
  top: 90px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}

#colorline {
  height: 4px;
  position: absolute;
  top: 86px;
  width: 100%;
}

#logo {
  left: 20px;
  top: 30px;
  position: absolute;
}

#topbar {
  top: 44px;
  left: 0;
  right: 0;
  position: absolute;
}

/*Доп. условия*/

@media (max-width: 858px) {
  #logo { display: none; }
  #search_container { left: 0 !important; }
}


