html,
body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin:0px;
}

/*Сброс стандартных стилей поискового поля*/
input[type=search] { -webkit-appearance: none; }

/*Прячем всё лишнее*/
    
#logo,
#leftpan,
#ltoggle_label,
.leaflet-control-scale,
.leaflet-control-inJOSM,
.leaflet-control-zoom,
.leaflet-control-distance,
.leaflet-bottom { display: none !important; }

/*Менюшка*/
   
nav ul {
    display:none;
    padding: 0 !important;
    height:100%;
}

nav label {
    position:relative;
    display:block;
    width:100%;
    min-height:2.25em;
    padding:0;
    font-size:1.1em;
    margin:0;
    border: .15em solid rgba(60, 60, 60, .2);
    background-color: gray;
}

nav label:after {
    position: absolute;
    right: .25em;  
    top: 0; 
    content:"\2261";
    font-size:1.8em;
}

nav input[type=checkbox]:checked ~ label:after {color: #222;}

nav input[type=checkbox]:checked ~ ul > li:after {
    position:absolute;
    right:.25em;
    content:"\203A";
    font: bold 1.4em sans-serif;
}

/**/ 

#mappan {
    left: 0cm !important;
    top: 1.5cm !important;
}

#qsearch {
    position: absolute;
    top: 0.2cm;
    right: 1.2cm;
    left: 0.1cm !important;
    width: auto !important;
    height: 1cm !important;
    margin-right: 0.5cm;    
    border-style: solid !important;
    border-width: 1px !important;
    border-color: gray !important;
}

/*Кнопка слоёв*/

.leaflet-control-layers {
    min-width: 1cm;
    min-height: 1cm;
    margin: 0.3cm !important;
    border-radius: 0px !important;
    background: white !important;
    border-width: 0px !important;
}

div.leaflet-top {
    position: absolute;
    bottom: 0cm !important;
}

/*Автокомплит поиска*/

.ui-autocomplete,
.ui-autocomplete a {
    border-radius: 0px !important;
    z-index: 1002 !important;   
}

.ui-autocomplete {
    height: 100%;
    width: 100% !important;
    left: 0cm !important;
    background-image: none !important;   
    border-width: 0px !important;
}

.ui-autocomplete a:focus,
.ui-autocomplete a:visited,
.ui-autocomplete a:hover,
.ui-autocomplete a:active {
    background-image: none !important;
    background-color: #e5e5e5 !important;
    border-width: 0px !important;
}

/*Меняем иконки*/

.wheremi,
.wheremi                            { background-image: url("/img/mobile/whereami.png") !important; }
a.leaflet-control-distance-edit     { background-image: url("/img/mobile/ruller-edit.png") !important; }
.leaflet-control-layers a.leaflet-control-layers-toggle { background-image: url("/img/mobile/layers.png") !important; }





