html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin:0;
}

/*Сброс стандартных стилей поискового поля*/
input[type=search] { -webkit-appearance: none; }

/*Прячем всё лишнее*/

nav,
#logo,
#ttoggle,
.leaflet-control-zoom,
.leaflet-control-inJOSM,
.leaflet-control-distance,
.leaflet-bottom { display: none !important; }

/*Менюшка*/
/*   
nav ul {
    display:none;
    padding: 0 !important;
    height:100%;
}

nav label {
    position:relative;
    display:block;
    width:100%;
    min-height:2.25em;
    padding:0;
    font-size:1.1em;
    margin:0;
    border: .15em solid rgba(60, 60, 60, .2);
    background-color: gray;
}

nav label:after {
    position: absolute;
    right: .25em;  
    top: 0; 
    content:"\2261";
    font-size:1.8em;
}

nav input[type=checkbox]:checked ~ label:after {color: #222;}

nav input[type=checkbox]:checked ~ ul > li:after {
    position:absolute;
    right:.25em;
    content:"\203A";
    font: bold 1.4em sans-serif;
}
*/

#topbar { top: 10px; }
header { height: 60px; }
article[role=main] { top: 60px; }

#search_container {
    margin-left: 0 !important;
    min-width: 100% !important;
}

#search,
#fucking_ff { 
    right: 0 !important;
    width: auto !important;
    left: 0 !important;
}

#search_button { 
    right: 5px !important;
    width: 30px !important;
    height: 30px !important;
    color: transparent;
    background-image: url(/img/mobile/search.png) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

#mappan {
    left: 0 !important;
    top: 1.5cm !important;
}

#qsearch {
    position: absolute;
    top: 0.2cm;
    right: 1.2cm;
    left: 0.1cm !important;
    width: auto !important;
    height: 1cm !important;
    margin-right: 0.5cm;
    padding-left: 1.1cm !important;    
    border-style: solid !important;
    border-width: 1px !important;
    border-color: gray !important;
    background-image: none !important;
}

#colorline {
    top: 56px;
}

/*Кнопка слоёв*/

.leaflet-control-layers {
    min-width: 1cm;
    min-height: 1cm;
    margin: 6px !important;
    border-radius: 0 !important;
    background: white !important;
    border-width: 0 !important;
}


div.leaflet-top {
    position: absolute;
    bottom: 0 !important;
}

/*Автокомплит поиска*/

.ui-autocomplete,
.ui-autocomplete a {
    border-radius: 0 !important;
    z-index: 1002 !important;   
}

.ui-autocomplete {
    height: 100%;
    width: 100% !important;
    left: 0cm !important;
    background-image: none !important;   
    border-width: 0 !important;
}

.ui-autocomplete a:focus,
.ui-autocomplete a:visited,
.ui-autocomplete a:hover,
.ui-autocomplete a:active {
    background-image: none !important;
    background-color: #e5e5e5 !important;
    border-width: 0 !important;
}

.wheremi {
    border: 0 !important;
    top: 7px !important;
    left: 10px !important;
    z-index: 1;
}
/*Меняем иконки*/

.wheremi                            { background-image: url("/img/mobile/whereami.png") !important; }
a.leaflet-control-distance-edit     { background-image: url("/img/mobile/ruller-edit.png") !important; }
.leaflet-control-layers a.leaflet-control-layers-toggle { background-image: url("/img/mobile/layers.png") !important; }

/* Левая панель*/

#leftpan {
    width: 100% !important;
    font-size: 12pt !important;
    z-index: 1001 !important;
}

#ltoggle {
    right: 0px;
    top: 40% !important;
    left: auto !important;
    width: 40px !important;
    height: 40px !important;
    background-image: url("/img/mobile/leftpan.png") !important;
}

/* Test */

#leftpantab div h1 {
    font-weight: normal !important;
    font-size: 14pt !important;
}

#leftpan::-webkit-scrollbar,
.jstree::-webkit-scrollbar {
    display: none; 
}