#leftpan {
  bottom: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  top: 0;
  width: 313px;
  transition: width 800ms;
  background-color: white;
  z-index: 3;
}


/*ReStyling leaflet*/

.leaflet-top > div.leaflet-control {
  border-radius: 0;
  box-shadow: none;
  border:1px solid #999;    
}

.leaflet-control-zoom a,
.leaflet-popup-content-wrapper              { border-radius: 0; }
.leaflet-control-layers.leaflet-control     { margin-top: 30px; }

.leaflet-control-layers a { background-image: url("/img/layers.png") !important; }


/*Поисковая строка*/

#search_container {
  left: 300px;
  right: 20px;
  top: -5px;
  height: 40px;
  margin: 0 20px;
  position: absolute;
  min-width: 500px;
  max-width: 750px;
}

#findme{
  border: 1px solid #999;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 34px;
  height: 34px;
  padding: 0;
  background-image: url("/img/whereami.svg");
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#search {
  position: absolute;
  display: block;
  top: 0;
  left: 40px;
  right: 20px;
  height: 40px;
  float: left;
  width: auto;
}

#fucking_ff {
  position: absolute;
  left: 0;
  right: 150px;
  width: auto;
  height: 100%;
}
  
#qsearch {
  position: absolute;
  top: 1px;
  width: 100%;
  height: 32px;
  margin: 3px;
  background: url("/img/search.svg") 98% center no-repeat;
  padding: 0 0 0 5px;
}

#search_button {
  position: absolute;
  top: 4px;
  left: auto;
  right: 20px;
  width: 100px;
  height: 24px;
  background: #9b1;
}


/*Временная мера*/
#search_container a {
  border-radius: 0 !important;
  box-shadow: none !important;
}

/*штука полезная, позже включу обратно*/
input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }


/*Testing pure css togglers*/


.leaflet-left {
  left: 320px;
  transition: left 800ms;
}

#ttoggle {
  position: absolute;
  top: 0;
  right: 10px;
  width: 50px;
  height: 20px;
  border: 0;
  top: 90px;
  padding-top: 0;
  transition: top 400ms;
  background: #99BD1B;
  color: #fff;
  text-align: center;
  z-index: 5;
}


#ltoggle {
  position: absolute;
  width: 13px;
  height: 100%;
  left: 300px;
  z-index: 2;
  transition: left 800ms;
  padding: 0;
  border: 0;
  background: url("../img/arrow.png") no-repeat 0 center;
  background-color: rgba(255, 255, 255, 1);
}

/*

Наследие костылей

#ttoggle:checked ~ header             { top:-60px; }
#ttoggle:checked ~ article[role=main] { top: 30px; }

#ttoggle:checked ~ #ttoggle_label {
  top: 30px;
  cursor: s-resize;
}

#ltoggle:checked ~ aside                  { width: 13px; }
#ltoggle:checked ~ section .leaflet-left  { left: 20px; }

#ltoggle:checked ~ aside #ltoggle_label {
  left: 0;
  cursor: e-resize;
  background: url("../img/arrow.png") no-repeat -12px center;
  background-color: rgba(255, 255, 255, 1);
}

*/

/*
#breaking_news {
  float: right;
  height: 35px;
  margin-top: -6px;
  width: 208px;
}
*/

/*... still to verify...*/

#map {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

/* leaflet-plugins-control */

.leaflet-container .leaflet-control-inJOSM,
.leaflet-container .leaflet-control-distance {
  margin-left: 13px;
  margin-top: 12px;
}

.leaflet-control-inJOSM a {
  background-image: url('/img/josm_icon.png');
  display: block;
}

.leaflet-control-inJOSM a:hover,
.leaflet-control-distance a:hover {
  background-color: #fff;
  color: #777;
}

.leaflet-control-inJOSM a,
.leaflet-control-distance a {
  width: 22px;
  height: 22px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.75);
}

.leaflet-control-distance div {
  color: #333;
  text-align: center;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.75);
}

.leaflet-control-distance-edit {
  background-image: url('/img/distance-icon.png');
  float: left;
}

a.leaflet-control-distance-delete {
  margin-left: 5px;
  background-image: url('/img/edit-clear.png'); /* gpl, Alexander Moore */
  display: inline-block;
}

.leaflet-control                        { box-shadow: none !important; }
.leaflet-control-permalink              { margin-left: 5px !important; }
a.leaflet-control-distance-active       { background-color: yellow; }
a.leaflet-control-distance-active:hover { background-color: #ffa; }

/*reSection*/
.leaflet-container {font-size: inherit;}

.osb .osb-popup h1 {
  color: #fff;
  padding: 1em;
  margin: 0;
  font-size: 1.2em;
}

.osbOpen .osb-popup h1   { background-color: #DB4C39; }
.osbActive .osb-popup h1 { background-color: #4A8AF5; }
.osbClosed .osb-popup h1 { background-color: #99BD1B; }


/* POI */
div.poi_popup p                       { margin: 0; }
div.poi_popup table td                { padding: 0.3em; }
div.poi_popup p.poi_header            { padding-bottom: 1em; }
div.poi_popup p.poi_header .poi_name  { margin-right: 1em; }

/*Доп. условия*/

@media (max-width: 858px) {
  #logo { display: none; }
  #search_container { left: 0 !important; }
}








/*  !!!!!!!!!!   LEFTPAN   !!!!!!!!!!!  */


#leftosb h1 { color: #B6253B !important; }

.leftcontent ul {
  padding-left: 0;
  margin: 0;
}

.leftcontent ul { padding: 0.1em; }

/*... still to verify ...*/

#leftpantab {
  bottom: 21px;
  display: block;
  left: 21px;
  overflow: auto;
  position: absolute;
  right: 21px;
  top: 21px;
}

#leftpantab .leftgroup { margin-bottom: 0.5em; }

#leftpantab div h1 {
  font-size: 12pt;
  font-weight: bold;
  margin: 0;
}

img.loader {
  display: none;
  margin-top: -5px;
  position: absolute;
  right: 10px;
}

img.loader.on { display: inline; }

#leftpan .leftgroup  h1 {
  color: #187BA0;
  cursor: pointer;
}

#leftpan .leftgroup .leftcontent {
  color: #808080;
  margin-left: 10px;
  overflow: auto;
  padding-bottom: 6px;
  padding-top: 6px;
}

#leftpan .leftgroup .leftcontent a { color: #808080; }
#leftpan .leftgroup .leftcontent ul { list-style: none; }

#DidYouKnow {
  border: 1px solid #808080;
  bottom: 0;
  left: 0;
  padding: 0.6em;
  position: absolute;
  right: 0;
}

#DidYouKnow .head {
  background: none repeat scroll 0 0 white;
  left: 7px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  position: absolute;
  top: -0.8em;
  color: #808080;
}

#DidYouKnow a { color: #187BA0; }
#DidYouKnow p { padding-top: 12px; }

#DidYouKnow .close {
  background-image: url("/img/dyk-close.png");
  height: 12px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 12px;
  z-index: 1;
  cursor: pointer;
}

#leftpantab .leftlink li { padding-bottom: 4px; }
#leftpantab .leftlink a  { text-decoration: none; }




/* personal map */
.colour-picker-button {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  text-align: center;
  vertical-align: top;
  padding: 0;
  margin: 3px;
  line-height: 13px;
  float: left;
  cursor: pointer;
}

.default-input,
.default-input-focused {
  width: 204px;
  border: 1px solid #999;
}

textarea.default-input,
textarea.default-input-focused {
  max-width: 200px;
  min-width: 200px;
  max-height: 100px;
  min-height: 100px;
  resize: none;
}


#pm-control .pm-button { margin-top: 15px; }

#pm-control a.pm-button-a {
  cursor: pointer;
  margin: 2px 5px 2px 30px;
}

#pm-control div span {
  display: none;
  margin-left: 30px;
}

#pm-button-marker {
  background-image: url("/img/pm-marker.png");
  background-repeat: no-repeat;
  min-height: 23px;
}

#pm-button-path {
  background-image: url("/img/pm-path.png");
  background-repeat: no-repeat;
  min-height: 23px;
}

#pm-control .pm-save                { margin-left: 30px; }
#pm-control .pm-button-pressed span { display: block; }
#pm-status                          { margin-top: 15px; }
#pm-status p                        { margin-bottom: 8px; }

td.colour-picker {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

a.button {
  border: 1px solid transparent;
  background: white;
  top: 7px;
  padding: 5px;
  position: relative;
  text-align: center;
  text-decoration: none;
  color: #777;
}

a.button:active {
  color: #99BD1B;
  top: 10px;
  box-shadow: 0 0 7px #688014;
}

/* search */

#leftsearch .leftcontent li { margin-bottom: 0.7em; }
#ol-search_result a         { text-decoration: none; }
#validationerrors ul        { margin-left: 10px; }
#validationerrors li        { margin: 5px; }
#validationerrors span      { margin-left: 5px; }

.map-validation-error h4,
.map-validation-error p { margin: 8px 0 !important; }

.map-validation-error ul {
  list-style: none;
  padding-left: 10px;
  margin: 8px 0;
}






/*!!!!!!!!!!!!   OpenStreetBugs   !!!!!!!!!!!!!!!!!!!!*/

.osb-popup { overflow: auto;}

.osb-popup ul,
.osb-popup p.Note,
.osb-popup form + p,
.osb-popup form.osb-comment        { border-top: 1px solid gray; }
.osbOpen .osb-popup form           { border-top: 3px solid #DB4C39; }
.osbActive .osb-popup form         { border-top: 3px solid #4A8AF5; }
.osb-popup form.osb-comment        { padding-top: 5px; }
.osb-popup p.Comment               { margin-left: 15px; }
.osb-popup form div.osb-formfooter { text-align: center; }

.osb-popup a:link:hover,
.osb-popup a:visited:hover {
    border-bottom: 1px solid #C0C0C0;
    color: #0048BC;
}

.osb-popup a:link:focus .osb-popup a:visited:focus { outline: 1px dotted #C0C0C0; }

.osb-popup a:link,
.osb-popup a:visited {
    color: #4D8CF5;
    text-decoration: none;
    border-bottom: 1px dotted #C0C0C0;
}

.osb-popup a:link:active,
.osb-popup a:visited:active {
    color: red;
    outline: 1px solid #C0C0C0;
    border-bottom: 1px solid #F0F0F0;
}

.osb-popup p {
    margin-bottom: 0;
    margin-top: 5px;
}

.osb-popup p.Note {
    margin-top: 7px;
    padding-top: 3px;
}

.osb-popup form + p {
    margin-top: 15px;
    padding-top: 10px;
}

.osb-popup ul {
    margin: 0;
  padding: 10px 0 0;
    text-align: center;
}

.osb-popup ul li {
    display: inline;
    margin-left: 12px;
    margin-right: 12px;
    padding: 0;
}

.osb-popup form {
    margin-bottom: 0;
    margin-top: 10px;
    padding-top: 10px;
}

.osb-popup form div {
    margin-left: 17px;
    margin-right: 15px;
    margin-top: 10px;
}

.osb-popup form div.osb-footer {
    margin-bottom: 0;
    margin-top: 15px;
    text-align: center;
}

.osb-popup span.osb-inputlabel {
    display: inline-block;
    margin-right: 10px;
    min-width: 101px;
}

.osb-popup input {
    margin-left: 3px;
    margin-right: 3px;
    min-width: 75px;
}

.osb-popup input[type="text"] { min-width: 257px; }

/* for OpenStreetMap.ru*/

.osb-popup                          { padding-bottom: 17px; }
.osb .leaflet-popup-content         { margin: -1px; }
.osb .leaflet-popup-tip-container   { overflow: visible; }
.osb .leaflet-popup-content-wrapper { border: 2px solid #A0A0A0; }

.osbCreate .osb-popup .osbCreateInfo {
    color: #A8A8A8;
    padding-left: 17px;
    padding-top: 10px;
    margin-bottom: -10px;
}

.osb .leaflet-popup-tip {
    -moz-transform: none;
    background-color: transparent;
    background-repeat: no-repeat;
    height: 10px;
    width: 10px;
    box-shadow: none;
}

.osbOpen .leaflet-popup-tip   { background-image: url("/img/osb/open_bug_tip.png"); }
.osbClosed .leaflet-popup-tip { background-image: url("/img/osb/closed_bug_tip.png"); }
.osbActive .leaflet-popup-tip { background-image: url("/img/osb/active_bug_tip.png"); }

.osbCreate .leaflet-popup-tip {
    background-color: white;
    -moz-transform: rotate(45deg);
}

.osb .leaflet-popup-close-button {
  background: url("/img/osb/popup-close.png") no-repeat scroll 0 0 transparent;
    height: 18px;
    right: 12px;
    width: 18px;
}

.osb-table { width: 100%; }
.osb-tr-info { color: #B2B2B2; }
.osb-td-nickname { width: 50%; }

.osb-td-datetime {
  width: 50%;
  text-align: right;
}

.osb-td-comment {
  padding-left: 20px;
  padding-bottom: 15px;
}

.osb-info {
    padding-left: 15px;
    padding-right: 15px;
}