html,
body,
#content,
#mappan,
#map {
  min-height: 100%;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

body>nav,
#menupan,
#toppan,
#leftpan,
#htpbutton,
#ltoggle,
#ttoggle,
#search_container,
.leaflet-control-container>div {
  display: none !important;
}

.leaflet-control-container>.leaflet-bottom.leaflet-right {
  display: block !important;
}

body>header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 10px;
}

#logo {
  display: block;
  height: 49px;
}

#mappan {
  left: 0px;
  top: 0px;
  page-break-after: always;
}
