html,
body,
#mappan {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

body>nav,
#menupan,
#toppan,
#leftpan,
#htpbutton,
#ltoggle,
#ttoggle,
#search_container,
div.leaflet-control-container {
  display: none !important;
}

#mappan {
  left: 0px;
  top: 0px;
}

#logo {
  z-index: 1;
  position: relative;
  left: 10px;
  top: 10px;
}
